<a href="https://colab.research.google.com/github/Alagha1/Changes/blob/main/Copy_of_6_1_2_Pandas_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Pandas Data Wrangling Activity

## Step 1. Create two different dataframes in two different ways in the following cells. Dataframes should have at least five rows and two columns. 

Hint: If you need a reminder, go over module 5.4 or Google examples.

In [ ]:
#Need sample dictionary and sample np.array
a = {'col1':[2,3,5,6,7],'col2':[4,3,12,7,8]}
b = np.array([[1,2],[4,2],[3,6],[6,4],[5,6]])
cols = ['col1','col2']

In [ ]:
#create a dataframe called df1 using pd.DataFrame(dictionary)
#Replace ... with your code.
df1 = pd.DataFrame(a)
df1

   col1  col2
0     2     4
1     3     3
2     5    12
3     6     7
4     7     8

In [ ]:
#create a dataframe called df2 using pd.DataFrame(np.array,columns=cols)
df2 = pd.DataFrame(b, columns=cols)
df2

   col1  col2
0     1     2
1     4     2
2     3     6
3     6     4
4     5     6

## Step 2. View top two rows.

In [ ]:
df1.head(2)

   col1  col2
0     2     4
1     3     3

## Step 3. View a value from third row, second column.

In [ ]:
df1.loc[2, 'col2']

12

## Step 4. Apply row-wise concat operation on dataframes `df1` and `df2`.

In [ ]:
pd.concat([df1, df2])

   col1  col2
0     2     4
1     3     3
2     5    12
3     6     7
4     7     8
0     1     2
1     4     2
2     3     6
3     6     4
4     5     6

# Step 5. Apply column-wise concat operation on a dataframe.

In [ ]:
pd.concat([df1, df2], axis= 1)

   col1  col2  col1  col2
0     2     4     1     2
1     3     3     4     2
2     5    12     3     6
3     6     7     6     4
4     7     8     5     6